name: cd

on:
  push:
    branches: [main]

jobs:
  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    

    env:
      DATABASE_URL: ${{ secrets.DATABASE_URL }}

    steps:
      - name: Check out code
        uses: actions/checkout@v4

      - name: Set up Node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install dependencies
        run: npm ci

      - name: build
        run: npm run build
        
      - id: 'auth'
        uses: 'google-github-actions/auth@v2'
        with:
          credentials_json: '${{ secrets.GCP_CREDENTIALS }}'
          
      - name: 'Set up Cloud SDK'
        uses: 'google-github-actions/setup-gcloud@v3'
          
      - name: 'Use gcloud CLI'
        run: 'gcloud info'
          
      - name: gcloud build
        run: gcloud builds submit --tag asia-south2-docker.pkg.dev/notely-482705/notely-ar-repo/notely-cli:v1 .
          
      - name: database migrations 
        run: npm run db:migrate
          
      - name: Deploy to Cloud Run
        run: gcloud run deploy notely --image asia-south2-docker.pkg.dev/notely-482705/notely-ar-repo/notely-cli:v1 --region asia-south2 --allow-unauthenticated --project notely-482705 --max-instances=4
